@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Urbanist:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: hsl(235, 19%, 35%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toDoHeading {
  font-size: 42px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}


